[submodule "2021W/COMP5900X-TrustedComputing"]
	path = 2021W/trustedcomp
	url = git@github.com:willfindlay/COMP5900X-TrustedComputing.git
[submodule "research/bpfcontain/bpfcontain-paper"]
	path = research/bpfcontain/bpfcontain-paper
	url = git@github.com:willfindlay/bpfcontain-paper.git
[submodule "research/bpfcontain/bpfcontain-rs"]
	path = research/bpfcontain/bpfcontain-rs
	url = git@github.com:willfindlay/bpfcontain-rs.git
[submodule "research/ebph/ebph-rs"]
	path = research/ebph/ebph-rs
	url = git@github.com:willfindlay/ebph-rs.git
[submodule "2021W/thesis"]
	path = 2021W/thesis
	url = git@github.com:willfindlay/masters-thesis.git
[submodule "2021W/3000"]
	path = 2021W/3000
	url = git@github.com:willfindlay/comp3000-2021w.git
